  <blockquote class="wp-block-quote" style="background-color:hsla(0,0%,0%,0.03);">
      <h5><span class="mw-headline" id="Albanian">Albanian</span></h5>
      <h6><span class="mw-headline" id="Alternative_forms">Alternative forms</span></h6>
      <ul>
        <li><span class="Latn" lang="sq"><a href="https://en.wiktionary.org/wiki/maj%C3%AB#Albanian"

              title="majë">majë</a></span> <span class="ib-brac qualifier-brac">(</span><span

            class="ib-content qualifier-content">Gheg</span><span class="ib-brac qualifier-brac">)</span></li>
      </ul>
      <h6><span class="mw-headline" id="Etymology">Etymology</span></h6>
      <p>A <a class="external text" href="https://en.wikipedia.org/wiki/Tosk%20Albanian">Tosk</a>
        dialectal variant of <i class="Latn mention"><a href="https://en.wiktionary.org/wiki/maj%C3%AB#Albanian"

            title="majë">majë</a></i>. </p>
      <h6><span class="mw-headline" id="Noun">Noun</span></h6>
      <p><strong class="Latn headword">malë</strong>&nbsp;<span class="gender"><abbr

            title="feminine gender">f</abbr></span> (<i>indefinite plural</i> <b><span

            class="Latn" lang="sq"><a href="https://en.wiktionary.org/wiki/mala#Albanian"

              title="mala">mala</a></span></b>, <i>definite singular</i> <b><span

            class="Latn" lang="sq"><a href="https://en.wiktionary.org/wiki/mala#Albanian"

              title="mala">mala</a></span></b>, <i>definite plural</i> <b><span

            class="Latn" lang="sq"><a href="https://en.wiktionary.org/wiki/malat#Albanian"

              title="malat">malat</a></span></b>) </p>
      <ol>
        <li><a href="https://en.wiktionary.org/wiki/tip" title="tip">tip</a>
          (tip), <a href="https://en.wiktionary.org/wiki/summit" title="summit">summit</a>,
          <a href="https://en.wiktionary.org/wiki/top" title="top">top</a>
          (tree) </li>
        <li><a href="https://en.wiktionary.org/wiki/forest" title="forest">forest</a>,
          <a href="https://en.wiktionary.org/wiki/woodland" title="woodland">woodland</a>
        </li>
      </ol>
      <h4><span class="mw-headline" id="Declension">Declension</span></h4>
      <div class="NavHead" style="background:rgb(223,223,223) none repeat scroll 0 0;cursor:pointer;"><span

          class="NavToggle"></span></div>
      <div class="NavFrame">
        <div class="NavHead" style="background:rgb(223,223,223) none repeat scroll 0 0;cursor:pointer;">declension
          of <b>malë</b></div>
        <div class="NavContent" style="display:block;">
          <table style="border-collapse:collapse;background:#F9F9F9;text-align:center;width:100%;"

            class="inflection-table" border="1px solid #aaaaaa">
            <tbody>
              <tr>
                <th rowspan="2" style="width:20%;background:#DFDFDF;"> <br>
                </th>
                <th colspan="2" style="background:#DFDFDF;">indefinite forms <br>
                  <small>(<span class="Latn" lang="sq"><a href="https://en.wiktionary.org/wiki/trajt%C3%AB#Albanian"

                        title="trajtë">trajta</a> <a href="https://en.wiktionary.org/wiki/pashquar#Albanian"

                        title="pashquar">të pashquara</a></span>)</small> </th>
                <th rowspan="7" style="background:#DFDFDF;width:0.75em;"> <br>
                </th>
                <th colspan="2" style="background:#DFDFDF;">definite forms <br>
                  <small>(<span class="Latn" lang="sq"><a href="https://en.wiktionary.org/wiki/trajt%C3%AB#Albanian"

                        title="trajtë">trajta</a> <a href="https://en.wiktionary.org/wiki/shquar#Albanian"

                        title="shquar">të shquara</a></span>)</small> </th>
              </tr>
              <tr>
                <th style="background:#EFEFEF;">singular <br>
                  <small>(<span class="Latn" lang="sq"><a href="https://en.wiktionary.org/wiki/numri_nj%C3%ABj%C3%ABs#Albanian"

                        title="numri njëjës">numri njëjës</a></span>)</small> </th>
                <th style="background:#EFEFEF;">plural <br>
                  <small>(<span class="Latn" lang="sq"><a href="https://en.wiktionary.org/wiki/numri_shum%C3%ABs#Albanian"

                        title="numri shumës">numri shumës</a></span>)</small> </th>
                <th style="background:#EFEFEF;">singular <br>
                  <small>(<span class="Latn" lang="sq"><a href="https://en.wiktionary.org/wiki/numri_nj%C3%ABj%C3%ABs#Albanian"

                        title="numri njëjës">numri njëjës</a></span>)</small> </th>
                <th style="background:#EFEFEF;">plural <br>
                  <small>(<span class="Latn" lang="sq"><a href="https://en.wiktionary.org/wiki/numri_shum%C3%ABs#Albanian"

                        title="numri shumës">numri shumës</a></span>)</small> </th>
              </tr>
              <tr>
                <th style="background:#EFEFEF;">nominative <br>
                  <small>(<span class="Latn" lang="sq"><a href="https://en.wiktionary.org/wiki/em%C3%ABrore#Albanian"

                        title="emërore">emërore</a></span>)</small> </th>
                <td><span class="Latn form-of lang-sq indef|nom|s-form-of" lang="sq"><strong

                      class="selflink">malë</strong></span> </td>
                <td><span class="Latn form-of lang-sq indef|nom|p-form-of" lang="sq"><a

                      href="https://en.wiktionary.org/wiki/mala#Albanian" title="mala">mäla</a></span>
                </td>
                <td><span class="Latn form-of lang-sq def|nom|s-form-of" lang="sq"><a

                      href="https://en.wiktionary.org/wiki/mala#Albanian" title="mala">mäla</a></span>
                </td>
                <td><span class="Latn form-of lang-sq def|nom|p-form-of" lang="sq"><a

                      href="https://en.wiktionary.org/wiki/malat#Albanian" title="malat">mäla‑të</a></span>
                </td>
              </tr>
              <tr>
                <th style="background:#EFEFEF;">accusative <br>
                  <small>(<span class="Latn" lang="sq"><a href="https://en.wiktionary.org/wiki/kall%C3%ABzore#Albanian"

                        title="kallëzore">kallëzore</a></span>)</small> </th>
                <td><span class="Latn form-of lang-sq indef|acc|s-form-of" lang="sq"><strong

                      class="selflink">malë</strong></span> </td>
                <td><span class="Latn form-of lang-sq indef|acc|p-form-of" lang="sq"><a

                      href="https://en.wiktionary.org/wiki/mala#Albanian" title="mala">mäla</a></span>
                </td>
                <td><span class="Latn form-of lang-sq def|acc|s-form-of" lang="sq"><a

                      href="https://en.wiktionary.org/w/index.php?title=mal%C3%ABn&amp;action=edit&amp;redlink=1"

                      class="new" title="malën (page does not exist)">mälë‑në</a></span>
                </td>
                <td><span class="Latn form-of lang-sq def|acc|p-form-of" lang="sq"><a

                      href="https://en.wiktionary.org/wiki/malat#Albanian" title="malat">mäla‑të</a></span>
                </td>
              </tr>
              <tr>
                <th style="background:#EFEFEF;">genitive <br>
                  <small>(<span class="Latn" lang="sq"><a href="https://en.wiktionary.org/wiki/gjinore#Albanian"

                        title="gjinore">gjinore</a></span>)</small><br>
                  (<span class="Latn" lang="sq"><a href="https://en.wiktionary.org/wiki/i#Albanian"

                      title="i">i</a></span>/<span class="Latn" lang="sq"><a href="https://en.wiktionary.org/wiki/e#Albanian"

                      title="e">e</a></span>/<span class="Latn" lang="sq"><a href="https://en.wiktionary.org/wiki/t%C3%AB#Albanian"

                      title="të">të</a></span>/<span class="Latn" lang="sq"><a href="https://en.wiktionary.org/wiki/s%C3%AB#Albanian"

                      title="së">së</a></span>) </th>
                <td><span class="Latn form-of lang-sq indef|gen|s-form-of" lang="sq"><a

                      href="https://en.wiktionary.org/wiki/male#Albanian" title="male">malê</a></span>
                </td>
                <td><span class="Latn form-of lang-sq indef|gen|p-form-of" lang="sq"><a

                      href="https://en.wiktionary.org/w/index.php?title=malave&amp;action=edit&amp;redlink=1"

                      class="new" title="malave (page does not exist)">mäla‑vê</a></span>
                </td>
                <td><span class="Latn form-of lang-sq def|gen|s-form-of" lang="sq"><a

                      href="https://en.wiktionary.org/w/index.php?title=mal%C3%ABs&amp;action=edit&amp;redlink=1"

                      class="new" title="malës (page does not exist)">mälë‑së</a></span>
                </td>
                <td><span class="Latn form-of lang-sq def|gen|p-form-of" lang="sq"><a

                      href="https://en.wiktionary.org/w/index.php?title=malavet&amp;action=edit&amp;redlink=1"

                      class="new" title="malavet (page does not exist)">mäla‑vetë</a></span>
                </td>
              </tr>
              <tr>
                <th style="background:#EFEFEF;">dative <br>
                  <small>(<span class="Latn" lang="sq"><a href="https://en.wiktionary.org/wiki/dhanore#Albanian"

                        title="dhanore">dhanore</a></span>)</small> </th>
                <td><span class="Latn form-of lang-sq indef|dat|s-form-of" lang="sq"><a

                      href="https://en.wiktionary.org/wiki/male#Albanian" title="male">malê</a></span>
                </td>
                <td><span class="Latn form-of lang-sq indef|dat|p-form-of" lang="sq"><a

                      href="https://en.wiktionary.org/w/index.php?title=malave&amp;action=edit&amp;redlink=1"

                      class="new" title="malave (page does not exist)">mäla‑vê</a></span>
                </td>
                <td><span class="Latn form-of lang-sq def|dat|s-form-of" lang="sq"><a

                      href="https://en.wiktionary.org/w/index.php?title=mal%C3%ABs&amp;action=edit&amp;redlink=1"

                      class="new" title="malës (page does not exist)">mälë‑së</a></span>
                </td>
                <td><span class="Latn form-of lang-sq def|dat|p-form-of" lang="sq"><a

                      href="https://en.wiktionary.org/w/index.php?title=malavet&amp;action=edit&amp;redlink=1"

                      class="new" title="malavet (page does not exist)">mäla‑vetë</a></span>
                </td>
              </tr>
              <tr>
                <th style="background:#EFEFEF;">ablative <br>
                  <small>(<span class="Latn" lang="sq"><a href="https://en.wiktionary.org/wiki/rrjedhore#Albanian"

                        title="rrjedhore">rrjedhore</a></span>)</small> </th>
                <td><span class="Latn form-of lang-sq indef|abl|s-form-of" lang="sq"><a

                      href="https://en.wiktionary.org/wiki/male#Albanian" title="male">malê</a></span>
                </td>
                <td><span class="Latn form-of lang-sq indef|abl|p-form-of" lang="sq"><a

                      href="https://en.wiktionary.org/w/index.php?title=malash&amp;action=edit&amp;redlink=1"

                      class="new" title="malash (page does not exist)">mäla‑shë</a></span>
                </td>
                <td><span class="Latn form-of lang-sq def|abl|s-form-of" lang="sq"><a

                      href="https://en.wiktionary.org/w/index.php?title=mal%C3%ABs&amp;action=edit&amp;redlink=1"

                      class="new" title="malës (page does not exist)">mälë‑së</a></span>
                </td>
                <td><span class="Latn form-of lang-sq def|abl|p-form-of" lang="sq"><a

                      href="https://en.wiktionary.org/w/index.php?title=malavet&amp;action=edit&amp;redlink=1"

                      class="new" title="malavet (page does not exist)">mäla‑vetë</a></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <h4><span class="mw-headline" id="Related_terms">Related terms</span></h4>
      <ul>
        <li><span class="Latn" lang="sq"><a href="https://en.wiktionary.org/wiki/mal#Albanian"

              title="mal">mal</a></span></li>
      </ul>
      <span class="mw-headline" id="Synonyms">Synonyms</span>
      <ul>
        <li><span class="ib-brac qualifier-brac">(</span><span class="ib-content qualifier-content">forest</span><span

            class="ib-brac qualifier-brac">)</span><span class="ib-colon sense-qualifier-colon">:</span>
          <span class="Latn" lang="sq"><a href="https://en.wiktionary.org/w/index.php?title=pyll%C3%AB&amp;action=edit&amp;redlink=1"

              class="new" title="pyllë (page does not exist)">pyllë</a></span>,
          <span class="Latn" lang="sq"><a href="https://en.wiktionary.org/wiki/pyll#Albanian"

              title="pyll">pyll</a></span> </li>
      </ul>
    </blockquote>